<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Crear</title>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
        <label for="lblNombre">Nombre</label>
        <input type="text" name="txtNombre" id="txtNombre">
        <label for="lblemail">Correo</label>
        <input type="email" name="txtEmail" id="txtEmail">
        <label for="lblFoto">Foto</label>
        <input type="file" name="txtFoto" id="txtFoto">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>